<!DOCTYPE html>
<html>
<style>
.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}
.dropdown-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.dropdown-content li {
  padding: 8px 12px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
</style>


<h3> Your Closet</h3> 
 <% for (var i=0; i< drinkData.length; i++ ) { %>
  <form method="POST" action="/updateDrink/<%= drinkData[i]._id %>" style="display: inline-block">  
    <%= drinkData[i].name %> (<%= drinkData[i].size %>) (<%= drinkData[i].brand %>)  (<%= drinkData[i].originalprice %>) (<%= drinkData[i].currentvalue %>) 
    <input type="submit" value="update"> 
  </form>
  <br/>
<% } %> 

<br/>


<!--db.shoes.aggregate([{$project: {total: {$add: ["currentvalue"]}}}])-->

<br/>


<!-- <% for (var i=0; i< drinkData.length; i++ ) { %>
  <form method="POST" action="/deleteDrink/<%= drinkData[i]._id %>" style="display: inline-block">  
    <%= drinkData[i].name %> (<%= drinkData[i].size %>) (<%= drinkData[i].brand %>) (<%= drinkData[i].originalprice %>) (<%= drinkData[i].currentvalue %>)
    <input type="submit" value="delete"> 
  </form>
  <br/>
<% } %> -->

<h3> Add a new shoe to your collection </h3>

<form method="POST" action="/addDrink">
  <label for="name">Name</label>
    <input name="name"> 
    <br>
    <label for="size">Size</label>
      <input name="size"> 
    <br>
    <label for="brand">Brand</label>
    <input name="brand"> 
  <br>
  <label for="originalprice">Original Price</label>
  <input name="originalprice"> 
<br>
<label for="currentvalue">Current Value</label>
<input name="currentvalue"> 
    <input type="submit" value="Submit" />
</form>

<br/>

<div class="dropdown">
  <button class="dropbtn">Delete Shoes</button>
  <div class="dropdown-content">
    <ul>
      <% for (var i=0; i< drinkData.length; i++ ) { %>
        <li>
          <span>
            <%= drinkData[i].name %> (<%= drinkData[i].size %>) (<%= drinkData[i].brand %>) (<%= drinkData[i].originalprice %>) (<%= drinkData[i].currentvalue %>)

          </span>
          <form method="POST" action="/deleteDrink/<%= drinkData[i]._id %>">
            <button type="submit">Delete</button>
          </form>
        </li>
        <% } %>
    </ul>
  </div>
  
</div>
</html>