
<!-- update our db -->



<h3> Your Closet</h3> 
 <% for (var i=0; i< drinkData.length; i++ ) { %>
  <form method="POST" action="/updateDrink/<%= drinkData[i]._id %>" style="display: inline-block">  
    <%= drinkData[i].name %> (<%= drinkData[i].size %>) (<%= drinkData[i].brand %>) (<%= drinkData[i].price %>) 
    <input type="submit" value="update"> 
  </form>
  <br/>
<% } %> 

<h3> Delete Shoes</h3> 
<% for (var i=0; i< drinkData.length; i++ ) { %>
  <form method="POST" action="/deleteDrink/<%= drinkData[i]._id %>" style="display: inline-block">  
    <%= drinkData[i].name %> (<%= drinkData[i].size %>) (<%= drinkData[i].brand %>) (<%= drinkData[i].price %>)  
    <input type="submit" value="delete"> 
  </form>
  <br/>
<% } %> 

<h3> Add a new shoe to your collection </h3>

<form method="POST" action="/addDrink">
  <label for="name">Name</label>
    <input name="name"> 
    <br>
    <label for="size">size</label>
      <input name="size"> 
    <br>
    <label for="brand">brand</label>
    <input name="brand"> 
  <br>
  <label for="price">value</label>
  <input name="price"> 
<br>
    <input type="submit" value="Submit" />
</form>

  
